[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
virtualenv = "*"
ipykernel = "*"
ipython = "*"
invectio = "*"
thamos = ">=1.16.1"
thoth-python = "*"
thoth-common = "*"
jupyterlab = ">3."
rich = "*"
pyyaml = "*"
ipynbname = "*"

[dev-packages]
jupyter-packaging = "*"
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
