[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
ipython = "*"
invectio = "*"
thamos = "*"
thoth-python = "*"

[dev-packages]
jupyter = "*"
nbconvert = "==5.6.1"
jupyterlab =">3.*"
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
