/* Buttons */

.thoth-new-package-button {
  background-color: rgb(200, 200, 200);
  border-radius: 12px;
  border: none;
  color: rgb(2, 1, 1);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.thoth-new-package-button:hover {
  background-color: #444444;
  color: white;
}

.thoth-save-button {
  background-color: rgb(174, 0, 255);
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.thoth-save-button:hover {
  background-color: #b421ad;
  color: white;
}

.thoth-kernel-delete-button {
  background-color: rgb(255, 17, 0);
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.thoth-kernel-delete-button:hover {
  background-color: #b4212d;
  color: white;
}

.thoth-install-button {
  background-color: rgb(174, 0, 255);
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.thoth-install-button:hover {
  background-color: #b421ad;
  color: white;
}

.thoth-ok-button {
  background-color: rgb(255, 187, 0);
  border-radius: 12px;
  border: none;
  color: rgb(2, 1, 1);
  padding: 10px 16px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.thoth-ok-button:hover {
  background-color: #7a5d0e;
  color: white;
}

.thoth-container-button {
  height: 50px;
  position: relative;
}

.thoth-container-button-centre {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


 /* Table */

.thoth-table, thead, tr, th {
  width: 100%;
}

.thoth-table, th, tr {
  border-bottom: 1px solid black;
}

.thoth-table th {
  padding: 10px 12px;
  font-weight: bold;
  color: rgb(212, 151, 19);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.thoth-package-name-input {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  padding: 10px 12px;
  text-align: center;
}

.thoth-constraint-input {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  padding: 10px 12px;
  text-align: center;
}

.thoth-row-button {
  background-color: rgb(200, 200, 200);
  border-radius: 12px;
  border: black;
  color: rgb(2, 1, 1);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.thoth-row-button:hover {
  background-color: #444444;
  color: white;
}

.thoth-row-button-deactivated {
  background-color: rgb(109, 109, 109);
  border-radius: 12px;
  border: none;
  color: rgb(245, 245, 245);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

 /* Options */

.thoth-kernel-name-input {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 40%;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
